
b01/src/main/resources/application.properties
b01/src/main/resources/static/css/styles.css
b01/src/main/resources/static/index.html
b01/src/main/resources/static/js/scripts.js
b01/src/main/resources/templates/ex/img.png
